name: "Build & Release"  

on:
  push:
    tags:
      - "v*"   
jobs:  
  build:      
    name: Build & Release  
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v3
    - name: Install GTK3 development libraries
      run: |
        sudo apt-get update
        sudo apt-get install -y libgtk-3-dev
    - name: Setup fluttfer
      uses: subosito/flutter-action@v2
      with:
        channel: stable
        flutter-version: 3.35.7
  
    - name: Build Linux
      run: flutter build linux

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: linux-binary
        path: build/linux/x64/release/bundle/

  
  release:
    name: Create Release
    runs-on: ubuntu-latest
    needs: build
  
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: linux-binary
          path: ./bundle
  
      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          files: ./bundle/** 
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
