name: flutter-cli
  # You may pin to the exact commit or the version.
  # uses: steebchen/flutter@55019e0f56278a7c84949e8e17c66e8f79d67290
on: push
jobs:
  build:
    name: install dependencies
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1

    - name: install dependencies
      uses: steebchen/flutter@v1.1.0
      with:
        args: pub get

    - name: run tests
      uses: steebchen/flutter@v1.1.0
      with:
        args: test

    - name: build linux
      uses: steebchen/flutter@v1.1.0
      with:
        args: build linux --release
