name: "Build & Release"  

on: push
jobs:  # Telling what jobs we need to happen
  build:      # Specify the building name and machine
    name: Build & Release  # you can name the build whatever you want
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v3
    - name: Install GTK3 development libraries
      run: |
        sudo apt-get update
        sudo apt-get install -y libgtk-3-dev
    - name: Setup fluttfer
      uses: subosito/flutter-action@v2
      with:
        channel: stable
        flutter-version: 3.35.7
    - run: flutter build linux
